*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(2, 2, 24);
  color: aliceblue;
}


#calculadora{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.containerCalculadora{
  width: 30%;
  height: 80%;
  background-color: aliceblue;

  padding: 1rem;
  border-radius: 20px;
  box-shadow: 10px 20px 30px rgba(245, 245, 245, 0.2);

}

.title{
  color: black;
  font-weight: bold;
  font-size: 1.4rem;

  border-bottom: 3px solid black;
}

/* _____________________ */

.calculator {
  width: 100%;
  margin: 0 auto;

  margin: 1.4rem 0;
  border-radius: 10px;
  
}
input[type="text"] {
  width: 90%;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 2rem;
  border: none;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
}
input[type="button"] {
  width: 20%;
  padding: 15px;
  font-size: 2rem;
  margin: 5px;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}
input[type="button"]:hover {
  background-color: #555;
}

.btn-result{
  width: 90%;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2;
}